
body{
  margin-top:0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
h1{
  font-size: 5.625rem;
  margin:50px auto 0 auto;
  font-family:  'Architects Daughter', cursive;
  color:#116979;
}
h2{
  font-family: 'Cormorant Garamond', serif;
font-size: 2.5rem;
color:#116979;
}
h3{
font-family: 'Arvo', serif;
color: #116979;
}
a{
  color:#11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.top-container{
  background-color: #27496d;
  position:relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0 ;

}
.bottom-container{
  background-color: #27496d;
  padding-top: 50px;
  padding-bottom: 50px;
  margin:0;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.web{
  text-decoration: underline;
}
.bottom-cloud{
  position:absolute;
  left: 250px;
  bottom:300px;
}
.top-cloud{
  position:absolute;
  right:250px;
  top:40px

}
.centre{
  margin:auto;
}
.fontweight{
  font-weight: normal;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.wid1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.wid2{
  width: 25%;
  float:right;
  margin-left: 30px;
}

hr{
  border: dotted #EAF6F6 6px;
  width:4%;
  border-bottom: none;
  margin: 100px auto;
}
p{
  line-height: 2;
}
.contactmessage{
  width: 50%;
  margin:40px auto 60px;
}
